*{
    list-style: none;
    text-decoration: none;
    list-style: none;
    
}
a{
    color: black;
    font-weight: 800;
    color: rgb(61, 73, 36)
}
h2, h3, h4{
    color: rgb(88, 112, 37)
}

body{
    background-color: rgb(250, 240, 226);
}
table
th,
td {
    border: 1px solid black;
    text-align: left;
}

nav ul{
    background-color: rgba(164, 191, 104, 0.765);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    list-style: none;
    border-radius: 7px;
}
nav ul ul li{
    display: none;
}
nav ul ul:hover li{
    display: block;
}



table{
    padding: 10px;
    border-collapse: collapse;
    border: 4px solid rgb(0, 0, 0);
}

table tr:first-child{
    background-color: rgba(164, 191, 104, 0.765);
}